<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent">

    <img src="/images/kilauea.jpg" align="left" style="margin-right:20px"/>
		<div style="width: 700px;">
        <p class="PublisherGroupTitle">About Hawaii</p>
        <p class="PublisherDescription">
            The Hawaiian Islands are one of the most beautiful places on earth. With its sweeping jade rainforests and shining golden beaches, it has aptly earned its nickname of Paradise. It was this pristine, unspoiled vision that greeted the first Polynesians as they arrived on Hawaii's shores over 500 years ago.<br />
            <br />
            The average daytime temperature is 85 degrees F (29.4 C). Temperatures at night are approximately 10 degrees F. lower.  
            For travel to Hawaii, casual and lightweight clothing is recommended. Comfortable casual wear - shorts, sandals, comfortable shoes, 
            bathing suits and cover-ups is the usual daytime attire. This attire should also be appropriate for recreation and sightseeing activities.<br />
			<br />
			<br>
			
		</p>
        <p class="PublisherGroupTitle">
        <br />
        </p>
		</div>

</asp:content>
