<%@ master language="C#" %>
<%@ import namespace="ABS" %>

<script runat="server">

	protected void Page_Load( object sender, EventArgs e ) {
        //Itinerary itin = Customer.Current.CurrentItinerary;
        //this.MyItinLink.Visible = itin.ResBookingsCount > 0;
        //this.MyAccountLink.Visible = true; // we don't ever need to hide this??
	}

</script>

<%-- ANYTHING ABOVE THIS LINE SHOULD NOT BE MODIFIED --%>
<%-- THIS PAGE MUST INCLUDE THE FOLLOWING COMPONENTS --%>
<%--
    1. "head" tag must contain an id and runat="server" attributes, e.g.,
         <head id="Head1" runat="server">
    2. "form" tag. place opening right after the opening "body" tag. 
        place the closing "form" tag right before the closing "body" tag".
        example of "form" tag: <form id="Form1" runat="server"></form>
    3. main content place holder. may be placed anywhere between "form" tags.
        e.g., <asp:contentplaceholder id="MainContent" runat="server" />
    4. footer content place holder. may be placed anywhere between "form" tags.
        e.g., <asp:contentplaceholder id="FooterContent" runat="server" />
--%>

<html lang="en">
	<head id="Head1" runat="server">
		<title>Aloha</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	</head>
	<body bgcolor="#3573B9" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

        <%-- PAGE HEADER - START --%>
        <%-- PAGE HEADER - END --%>

        <%-- LINKS BELOW HEADER - START --%>
 		<div align="center" style="width:919px; height: 155px; margin:0; padding: 0px; background-image: url('/images/top_preferredpump2013.jpg'); background-repeat: no-repeat; background-color: #FFFFFF;"><br><br><br><br><br><br>
            <img src="/images/spacer.gif" width="10" height="1" border="0" alt="" />
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;z-index:77;"> 
				<a href="default.aspx">Home</a> 
			</span>
			
			<img src="/images/spacer.gif" width="10" height="1" border="0" alt="">
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;"> 
				<a runat="server" id="AboutHi" href="~/preferredpump2013/abouthi.aspx">About Hawaii</a>
			
			</span>
			
			<img src="/images/spacer.gif" width="10" height="1" border="0" alt="">
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;"> 
				<a runat="server" id="Catalog" href="~/preferredpump2013/catalog.aspx">Tours and Activities</a>
			
			</span>
			
			<img src="/images/spacer.gif" width="10" height="1" border="0" alt="">
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;"> 
				<a runat="server" id="MyItinLink" href="~/preferredpump2013/itinerary.aspx">My Itinerary</a>
			</span>
			
			<img src="/images/spacer.gif" width="10" height="1" border="0" alt="">
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;"> 
				<a runat="server" id="MyAccountLink" href="~/preferredpump2013/Account.aspx">My Account</a>
			</span>
			
			<img src="/images/spacer.gif" width="10" height="1" border="0" alt="">
			<span style="color:black;font-family:arial;font-size:10pt;font-weight:bold;"> 
				<a href="/preferredpump2013/contact.aspx">Contact Us</a>
			</span>
			
			<img src="/images/spacer.gif" width="100" height="1" border="0" alt="">
			</span>

<br/><br/>
<%-- LINKS BELOW HEADER - END --%>

<form id="Form1" runat="server" >
<div style="padding:0; margin:0; top:0; left; 0; float: left; clear: both;">
<table border="0" width="919" cellpadding="10" cellspacing="0" bordercolor="#111111" bgcolor="FFFFFF" id="AutoNumber1">
<tr>
					<%--<td valign="top">
						<abs:categorypicker runat="server" id="CatPicker" />
					</td>
					--%>
					<td valign="top">
						<asp:contentplaceholder id="MainContent" runat="server" />
                        <%--
			                The tag below is the "placeholder" that is used to display the HTML vouchers by the "Completed.aspx" page.
			                You need to have one of these on your page design, somewhere where the vouchers will fit.
		                --%>
		                <asp:contentplaceholder id="FooterContent" runat="server" />
					</td>
				</tr>
			</table>
</div>
			
		</form>

        <%-- PAGE FOOTER - START --%>
        <%-- PAGE FOOTER - END --%>
	</body>
</html>
