﻿<%@ Page Language="C#" %>
<%@ import namespace="System.Net.Mail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

	protected void OnTestClicked( object sender, System.EventArgs e ) {
		SendEmail();
	}

	public void SendEmail() {
		MailMessage mailer = new MailMessage();
		mailer.From = new MailAddress( "admin@mcahawaii.com" );
		mailer.To.Add( "bob@rkp.com" );
		mailer.Body = "Testing";
		mailer.IsBodyHtml = false;
		mailer.Subject = "Email Testing";
		SmtpClient client = new SmtpClient();
		serv.Credentials = new NetworkCredential("Administrator", "Dec-2012");
		client.Send( mailer );
	}
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

		<asp:button id="test" runat="server" text="Test" onclick="OnTestClicked" />

    </div>
    </form>
</body>
</html>
