<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent">

<img src="/images/maunakea.jpg" align=left style="margin-right:20px"/>
		<div style="width: 700px;"><p class="PublisherGroupTitle">Transportation</p>
<p class="PublisherDescription">Enjoy the freedom of the open road and the beauty of the islands at your own leisure in a rent-a-car. Special rates have been provided for your group.
<Br />
<Br />
<a href="http://link.hertz.com/link.html?id=17071&LinkType=HZLK&TargetType=Reservations&ret_url=www.activitysaleshawaii.com/statefarmo2009"><font color="#0177CC">Click here for car rental specials.</a>
			
		</p>
<p class="PublisherGroupTitle"> <br />

		</div>

</asp:content>
