a:visited {
	color: #FF9900;
}
a:hover {
	color: #FF9900;
}
a:active {
	color: #FF9900;
}

.navLink {color: #FFF;}

a { color: #FF9900;}

#navbar {width: 919px; padding:0; float:left; margin:0; line-height: 12px; background-color: #333333;}

ul#list-nav {
list-style:none;
margin:0;
padding:0;
width:800px;
}

ul#list-nav li {
display:inline;
}

ul#list-nav li a {
text-decoration:none;
font-family: helvetica, arial, sans-serif;
font-size: 12px;
padding:5px 0;
width:13%;
background:#333333;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background-color: #f57900;
color:#FFF;
}

ul#popact {
 font-family: georgia, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: 10pt;
 line-height: 12pt;
 margin: 10px 20px 0 0;
}

#popact {
 font-family: georgia, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: 10pt;
 line-height: 12pt;
 margin: 10px 30px;
 display: block;
}


.PublisherCatRow {
 background-color: #6F2A2A;
 color: #FFF;
 font-family: Arial;
 font-weight: bold;
 font-size: smaller;
}
.PublisherGroupTitle {
 color: #204a87;
 font-family: Verdana, Times New Roman, Times, serif;
 font-weight: bold;
 font-size: smaller;
}
.PublisherDescription {
 font-family: georgia, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: 11pt;
 line-height: 14pt;
}
.PublisherBriefDescr {
 color: #333333;
 font-family: georgia, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: 10pt;
}
.PublisherMoreLink {
 color: #FF3300;
 font-family: georgia, serif;
 font-weight: normal;
 font-size: 10pt;
}

.FormLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.FormInput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.StepButton {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	width : 140px;
	margin: 4px;
}
.ItemButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	width : 80px;
}
.CopyButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.ErrorMsgSubPanel {
	padding:2px;
	width:600px;
	background-color:#ffeeee;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.BookingPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	table-layout:fixed;
}
.BookingHeaderCell {
	background-color: #FFFF99;
	font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.BookingFooterCell {
	background-color:#FFFF99;
	font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-align: right;
}
.BookingStepPanel {
	background-color:White;
	padding:4px;
	width:100%;
}
.BookingStepTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style:normal;
	color: #000;
}
.BookingTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:normal;
	font-style:normal;
	color: #000;
}
.BookingStepHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style:normal;
}
.BookingHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:normal;
	font-style:normal;
}
.BookingInstructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style:italic;
	line-height:140%
}
.BookingFieldLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.ErrorMessages {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: Red;
	line-height:140%
}

.GuestInfoPanel {
	background-color:#ffff99;
	padding:4px;
	width:400px;
}
.GuestInfoHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	font-style:italic;
}
.GuestInfoBodyTable {
	margin-left:80px;
	margin-top: 10px;
	width:400px;
}

.ItinPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	table-layout:fixed;
}
.ItinHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style:italic;
	text-align:center;
	background-color:#FFFF99;
	height:40px;
	color:#000;
}
.ItinFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background-color:#FFFF99;
	color:#000;
}
.ItinFooter TD {
	padding:3px;
}
.ItinBookPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	margin-bottom:4px;
}
.ItinBookHeaderTable TD {
	padding:2px;
}
.ItinBookHeaderTable {
	background-color:#FFFF99;
	padding:3px;
	margin-bottom: 1px;
	width:600px;
	table-layout:fixed;
}
.ItinBookFooterTable TD {
	padding:3px;
}
.ItinBookFooterTable {
	background-color:#FFFF99;
	padding:3px;
	margin-bottom: 1px;
	width:600px;
	table-layout:fixed;
}
.ItinGuestPanel {
	background-color:#FFFF99;
	width:600px;
	margin-bottom:1px;
	table-layout:fixed;
}
.ItinGuestPanel TD {
	padding:3px;
}
.ItinPanelLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.ItinPanelValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.ItinPanelGuestTypeValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:italic;
}

.CheckoutPanel {
	padding:6px;
	width:600px;
	table-layout:fixed;
}
.CheckoutHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style:italic;
	text-align:center;
	height:40px;
	background-color:#FFFF99;
	color:#000;
}
.CheckoutPanelHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-style:italic;
}
.CheckoutFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color:#FFFF99;
	padding: 3px;
	color:#000;
}
.CheckoutSubPanel {
	padding:6px;
	width:600px;
	table-layout:fixed;
	background-color:#FFFF99;
}
.CheckoutBodyTable {
	margin-left:80px;
	margin-top: 10px;
	width:80%;
}
.CvvLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	width : 200;
	font-style:italic;
}

.custAcctInstructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 12pt;
}
.custAcctErrorMsgs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: red;
}
.custAcctHeader {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12pt;
	font-weight:bold;
	margin-bottom: 12pt;
}

