/* Basic Style Sheet
 * This style sheet contains all the global 
 * styles that the majority of browsers can 
 * interpret.
 */

body {
	background-color: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
}
a, body, div, p, span, td, ul, ol {font-family: arial, helvetica, sans-serif;}
a {background-color: transparent;color: #4E2F92;}
a:hover {background-color: transparent;color: #000;}
a:active {background-color: transparent;color: #B977A3;}
a:visited {background-color: transparent;color: #99467F;}
a.anchor {font-size: 60%;}
div, p {margin: 0;padding: 0;}
div.flightSpecial2 {
   background-color: transparent;
   color: #000;
   font-family: arial, helvetica, sans-serif;
   font-size: 140%;
	font-weight: bold;
   margin-top: 2px;
   margin-bottom: 2px;
   text-align: center;
}
div.flightSpecialPrices {
   background-color: transparent;
   color: #FFF;
   font-family: arial, helvetica, sans-serif;
	font-weight: bold;
   margin-top: 2px;
   margin-bottom: 2px;
   text-align: center;
}
div.hdr1, div.hdr2, div.hdr3, div.hdr4, div.hdr5, div.hdr6 {
	font-weight: bold;
	margin: 0;
	padding: 0;
}
div.headergfx {margin: 2px 4px 2px 4px;}
div.headergfx span {
   background-color: transparent;
   color: #000;
   font-family: arial, helvetica, sans-serif;
   font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-top: 3px;
	padding: 0;
}
form {margin: 0;padding: 0;}
form div.lbl {font-weight: bold;}
ul.bltOrange {background-color: transparent;color: #EF5121;}
ul.bltOrange li span {background-color: transparent;color: #000;}
table.subSectionHeaders {background-color: #F7FADC;color: #000;}
td.subSection {font-size: 80%;font-weight: bold;}

#form1 span {font-size: 60%;} /* HawaiianMiles Login chunk on the Homepage */
#form1 input#hmid, #form1 input#pin {width: 82px;}
#form1 div.lbl {
	font-size: 60%;
	margin: 0;
	padding: 0;
}
#formFlightInfo {background-color: transparent;color: #000;}
#formFlightInfo div {font-size: 70%;} /* override/addition in enhanced */
#hdrTitle {margin: 0;padding: 0;}
#hdrTitle span {font-size: 70%;}
#hdrTitle strong, #hdrTitle .instr {font-size: 100%;}
#hdrTitle .instr {
	background-color: transparent;
	color: #EF5529;
	font-weight: bold;
}
#hmBlurb {font-size: 60%;margin: 0;padding: 0;}
#hmBlurb div {background-color: transparent;color: #979797;display: inline;margin: 0;padding: 0;}
#pageTitle {
	background-color: transparent;
	color: #E34305;
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 4px;
}
#sectionMyHmiles {
	margin: 0;
	padding: 0;
}
#specoffer div {font-size: 70%;}
#specoffer span {font-size: 80%;}
#steps {
	background-color: transparent;
	color: #737373;
	font-size: 60%;
	margin: 0;
	padding: 0;
}
#steps span {background-color: transparent;color: #EF5529;}
/*#subnavs {margin: 5px 2px 10px 2px;} */
#subnavs {margin: 0;padding: 0;padding-top: 10px;padding-bottom: 10px;}
#subnavs div {font-size: 70%;margin-bottom: 5px;}
#tabContent { /* override/addition in enhanced */
	background-color: transparent;
	color: #000;
	margin: 0;
	padding: 30px 0 15px 18px;
}
#tabContent a.borange {
	background-color: transparent;
	color: #E14202;
	font-weight: bold;
}
#tabContent div.hdr1 {font-size: 80%;margin-bottom: 7px;}
#tabContent div.hdr2 {font-size: 70%;margin-bottom: 7px;}
#tabContent .bulletlistLinks, #tabContent .blurb {font-size: 60%;} /* override/addition in enhanced */
#tabContent #left {float: left;text-align: left;}
#tabContent #right {float: right;text-align: left;}

.bgBeige {background-color: #F5F6F0;color: #000;}
.bgBeigeAlt {background-color: #F5F6F0;color: #000;}
.bgBlack {background-color: #000;color: #000;}
.bgBlue {background-color: #2F3FCA;color: #000;}
.bgBrown {background-color: #C4C6AE;color: #000;}
.bgGray {background-color: #C2C1C3;color: #000;}
.bgGray2 {background-color: #D6D7D6;color: #000;}
.bgGray3 {background-color: #C4C6AE;color: #000;}
.bgGrayLight {background-color: #F7F7F7;color: #000;}
.bgGrayLight2 {background-color: #ECEDDF;color: #000;}
.bgOrange {background-color: #F75900;color: #000;}
.bgOrangeDark {background-color: #FF6633;color: #FFF;}
.bgOrangeDark2 {background-color: #F4AE6F;color: #FFF;}
.bgOrangeDark3 {background-color: #EF5529;color: #000;}
.bgOrangeLight {background-color: #F8EDD1;color: #000;}
.bgOrangeLight2 {background-color: #FFCA9A;color: #000;}
.bgOrangeLight3 {background-color: #FFCA9A;color: #000;}
.bgPurpleDark {background-color: #64309C;color: #FFF;}
.bgPurpleDark2 {background-color:#4E2F91;color: #000;}
.bgPurpleLight {background-color: #D4D6ED;color: #000;}
.bgPurpleLight2 {background-color: #E5E9F5;color: #000;}
.bgPurpleLight3 {background-color: #C0C1F0;color: #000;}
.bgPurpleLight4 {background-color: #EBE3F3;color: #000;}
.bgTan {background-color: #FFEAB3;color: #000;}
.bgTan2 {background-color: #DEDFD1;color: #000;}
.bgTan3 {background-color: #FFF8B5;color: #000;}
.bgTan4 {background-color: #FEE8A6;color: #000;}
.bgTanDark {background-color: #F8DF8F;color: #000;}
.bgTanLight {background-color: #F5F6F0;color: #000;}
.bgTanLight2 {background-color: #F7FADC;color: #000;}
.bgTanLight3 {background-color: #FDFEF2;color: #000;}
.bgTanLight4 {background-color: #FFFDD6;color: #000;}
.bgTanLight5 {background-color: #F5F8DF;color: #000;}
.bgTanLight6 {background-color: #FAF8DD;color: #000;}
.bgTanLight7 {background-color: #FDF6DA;color: #000;}
.bgTanLight8 {background-color: #EBEDDE;color: #000;}
.bgTanLight9 {background-color: #FAEFD2;color: #000;}
.bgViolet {background-color: #B92F93;color: #000;}
.bgWhite {background-color: #FFF;color: #000;}
.bgYellow {background-color: #FFDE75;color: #000;}
.error {
	background-color: transparent;
	color: #F00;
	font-size: 80%;
	font-weight: bold;
}
.flightSpecial {
   font-size: 80%;
   margin-top: 10px;
	text-align: left;
}
.flightSpecial a {
   background-color: transparent;
   color: #039;
   font-weight: bold;
   text-decoration: underline;
}
.flightSpecial span {font-style: italic;}
.fs50 {font-size: 50%;}
.fs60 {font-size: 60%;}
.fs70 {font-size: 70%;}
.fs80 {font-size: 80%;}
.fs90 {font-size: 90%;}
.fs100 {font-size: 100%;}
.fs120 {font-size: 120%;}
.fs130 {font-size: 130%;}
.fs140 {font-size: 140%;}
.fs150 {font-size: 150%;}
.fs160 {font-size: 160%;}
.fs170 {font-size: 170%;}
.fs180 {font-size: 180%;}
.fs190 {font-size: 190%;}
.fs200 {font-size: 200%;}
.listLinks div {font-size: 80%;margin-bottom: 5px;}
.schedules div.hdr1 {font-size: 80%;margin-bottom: 5px;}
.schedules p {
	font-size: 70%;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}
.sitemapHeaders {
	background-color: #F7FADC;
	color: #000;
	font-size: 80%;
	font-weight: bold;
}
.sitemapHeaders a {background-color: transparent;color: #000;}
.sitemapLinks {font-size: 70%;}
.sitemapLinks div {margin-bottom: 7px;}
.spacer {clear: both;}
.specialsHeader {
	background-color: #EFEFEF;
	color: #E14202;
	font-size: 80%;
	font-weight: bold;
}
.specialsContent {font-size: 70%;}
.specialsContent, .specialsHeader div {
	margin: 0;
	padding: 0;
	padding-left: 9px;
}
.specialsLine {background-color: #D9B8CF;color: #000;}
.subSectionWhite {background-color: #FFF; color: #000;}
.termsAndConditions {
	font-family: arial, helvetica, sans-serif;
	font-size: 70%;
	margin-left:10px;
}
.termsAndConditions div {margin-bottom: 5px;}
.termsAndConditions div.initial {font-weight: bold;margin-bottom: 10px;}

/* Expedia Forms (Hotels and Cars Search) */
#frmHotels .lbl, #frmCars .lbl {font-size: 70%;}
#frmHotels .frmElements, #frmCars .frmElements {font-family: monotype;font-size: 70%;}

.linkie {background-color: transparent;color: #E14202;}
.linkRed {background-color: transparent;color: #E54B4B;}
.titleLiner {background-color: #A9A9A9;color: #000;}
.textBlack {background-color: transparent;color: #000;}
.textGray {background-color: transparent;color: #7F7C7C;}
.textGray2 {background-color: transparent;color: #C6C3C6;}
.textOrange {background-color: transparent;color: #F55802;}
.textOrange2 {background-color: transparent;color: #EF5529;}
.textOrangeLight {background-color: transparent;color: #FF8B60;}
.textPurple {background-color: transparent;color: #4A2C94;}
.textPurpleDark {background-color: transparent;color: #57068C;}
.textPurpleLight {background-color: transparent;color: #7B6EB2;}
.textRed {background-color: transparent;color: #F00;}
.textWhite {background-color: transparent;color: #FFF;}
.fBG {background-color: #F7FADC;color: #000;}

.border {background-color: #C1B7C0;color: #000;}
.theSubNavLinks {margin-bottom: 6px;}
.noBG {background-color: transparent;color: #000;}

.noBlts {list-style-type: none;}
.noBlts ul {list-style-type: none;}

.smTerms {font-family: "arial narrow", helvetica, sans-serif;}

address {font-style: normal;}

/******** Layout Styles (masthead, footer, etc.) ********/
.mastheadBgPurple {background-color: #4E2F92;color: #FFF;}

#footer, #footerHome, #footerCopyright, #footerCopyright2, #footerLinksMain, #footerLinksOther, #footerLinksOther2 {margin: 0;padding: 0;}
#footer {padding-top: 10px;}
#footerHome {padding-top: 5px;}
#footerCopyright {
	background-color: transparent;
	color: #908E8E;
	font-size: 60%;
	margin-top: 10px;
}
#footerCopyright2 {background-color: transparent;color: #908E8E;}
#footerLinksMain {font-size: 60%;font-weight: bold;} /* override/addition in enchanced */
#footerLinksOther {font-size: 60%;margin-top: 16px;}
#footerLinksOther2 {font-size: 60%;}
#footerLine {background-color: #E3E3E3;color: #000;}

/******** Partner Page Styles ********/
#partner p {
	margin-bottom: 15px;
}
.listItem {
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}
.partnerName {
	font-size: 80%;
	margin: 0;
	padding: 0;
}
.partnerOfferTitle {
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
}
.partnerOfferTitle span {
	background-color: transparent;
	color: #E14202;
}
.partnerOfferTitlePurple {
	background-color: transparent;
	color: #8F00A8;
}
.partnerSubHeading {
	font-size: 80%;
	font-weight: bold;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}

.an {font-family: "arial narrow", helvetica, sans-serif;}

/******** New Homepage, Masthead and Footer styles ********/
/******** New Masthead ********/
.mastheadBG {
	background: #5092DB;
	color: #FFF;}
.mastheadLine {
	background: #A2C5EC;}
.mastheadLineVert {
	background: #A9CAED;}
.subBkg {
	background: #5092DB url(sub_bkg2.gif) top left repeat-x;}

/******** HM Login Section ********/
#hmid {
	width: 88px !important;
	height: 18px !important;}
#pin {
	width: 105px !important;
	height: 18px !important;}

/******** Collage Section ********/
.collage {
	background: #FFF url(collage_bg.jpg) top left repeat-x;}

/******** Body Section ********/
.specialsLine {
	background: #D0E2FA;}

/******** Footer Section ********/
.footer {
	font-size: 70% !important;}
.footerBG {
	background: #0B0070;}
.footer a {
	color: #FFF !important;}

/******** Tabs stuff in logged in page ********/
.fauxLogo1 {
	background: transparent;
	color: #472E8C;}
.fauxLogo2 {
	background: transparent;
	color: #B1499E;}

.bgNewHPForm1 {
	background: transparent url(newhp2_background.jpg) no-repeat;}
	
.bgNewHPForm2 {
	background: transparent url(newhp2_background2.jpg) no-repeat;}
	