<%@ Page Language="C#" inherits="ABS.AdminPage" 
	maintainscrollpositiononpostback="true" validaterequest="false"
%>
<%@ import namespace="ABS" %>

<asp:content id="MainContent" contentplaceholderid="MainPlaceHolder" runat="server" >

	<h1>Welcome</h1>

	<p>
		Welcome to the MC&amp;A Activity Booking System (ABS) Administration Center.
	</p>
	<br />
	<p>
		Please select a command from the menu bar at the top of the page.
	</p>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

</asp:content>    
    
