/* Enhanced Style Sheet
 * This style sheet contains the advanced 
 * styles that standards-compliant browsers 
 * can interpret.
 */

#formFlightInfo div {font-size: 100%;}
#formFlightInfo div.lbl, #formFlightInfo select {font-size: 70%;}

#tabContent {padding: 5px 0 0 13px;}
#tabContent .bulletlistLinks, #tabContent .blurb {font-size: 70%;}

/* Expedia Forms (Hotels and Cars Search) */
#frmHotels .frmElements, #frmCars .frmElements {font-size: 100%;}
#frmHotels input, #frmHotels select, #frmCars input, #frmCars select {font-size: 70%;}

/******** Layout Styles (masthead, footer, etc.) ********/
#footerLinksMain {font-size: 70%;}