body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
h1, .h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 18px;
}
h2, .h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 14px;
}
h3, .h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

