a:visited {
	color: ##FF9933;
}
a:hover {
	color: ##FF9933;
}
a:active {
	color: ##FF9933;
}

.navLink {color: #0076CC;}

a { color: #0076CC;}

.PublisherCatRow {
 background-color: #0076CC;
 color: #FFFFFF;
 font-family: Arial;
 font-weight: bold;
 font-size: smaller;
}
.PublisherGroupTitle {
 color: #0076CC;
 font-family: Verdana, Times New Roman, Times, serif;
 font-weight: bold;
 font-size: smaller;
}
.PublisherDescription {
 font-family: Arial, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: smaller;
}
.PublisherBriefDescr {
 color: #333333;
 font-family: Arial, Times New Roman, Times, serif;
 font-weight: normal;
 font-size: smaller;
}
.PublisherMoreLink {
 color: #FF6600;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
 font-size: smaller;
}

.FormLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.FormInput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.StepButton {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	width : 140px;
	margin: 4px;
}
.ItemButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	width : 80px;
}
.CopyButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.ErrorMsgSubPanel {
	padding:2px;
	width:600px;
	background-color:#ffeeee;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.BookingPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	table-layout:fixed;
}
.BookingHeaderCell {
	background-color: #99CC00;
	font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.BookingFooterCell {
	background-color:#99cc00;
	font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: right;
}
.BookingStepPanel {
	background-color:White;
	padding:4px;
	width:100%;
}
.BookingStepTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style:normal;
	color: White;
}
.BookingTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:normal;
	font-style:normal;
	color: White;
}
.BookingStepHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style:normal;
}
.BookingHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight:normal;
	font-style:normal;
}
.BookingInstructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style:italic;
	line-height:140%
}
.BookingFieldLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.ErrorMessages {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: Red;
	line-height:140%
}

.GuestInfoPanel {
	background-color:#ffff99;
	padding:4px;
	width:400px;
}
.GuestInfoHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	font-style:italic;
}
.GuestInfoBodyTable {
	margin-left:80px;
	margin-top: 10px;
	width:400px;
}

.ItinPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	table-layout:fixed;
}
.ItinHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style:italic;
	text-align:center;
	background-color:#ffcc66;
	height:40px;
	color:black;
}
.ItinFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background-color:#ffcc66;
	color:black;
}
.ItinFooter TD {
	padding:3px;
}
.ItinBookPanel {
	background-color:#ffffff;
	padding:0px;
	width:600px;
	margin-bottom:4px;
}
.ItinBookHeaderTable TD {
	padding:2px;
}
.ItinBookHeaderTable {
	background-color:#ffdf99;
	padding:3px;
	margin-bottom: 1px;
	width:600px;
	table-layout:fixed;
}
.ItinBookFooterTable TD {
	padding:3px;
}
.ItinBookFooterTable {
	background-color:#ffff99;
	padding:3px;
	margin-bottom: 1px;
	width:600px;
	table-layout:fixed;
}
.ItinGuestPanel {
	background-color:#ffff99;
	width:600px;
	margin-bottom:1px;
	table-layout:fixed;
}
.ItinGuestPanel TD {
	padding:3px;
}
.ItinPanelLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.ItinPanelValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.ItinPanelGuestTypeValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:italic;
}

.CheckoutPanel {
	padding:6px;
	width:600px;
	table-layout:fixed;
}
.CheckoutHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style:italic;
	text-align:center;
	height:40px;
	background-color:#ffcc66;
	color:black;
}
.CheckoutPanelHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-style:italic;
}
.CheckoutFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color:#ffcc66;
	padding: 3px;
	color:black;
}
.CheckoutSubPanel {
	padding:6px;
	width:600px;
	table-layout:fixed;
	background-color:#ffff99;
}
.CheckoutBodyTable {
	margin-left:80px;
	margin-top: 10px;
	width:80%;
}
.CvvLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	width : 200;
	font-style:italic;
}

.custAcctInstructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 12pt;
}
.custAcctErrorMsgs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: red;
}
.custAcctHeader {
	font-family: Arial, Helvetica, sans-serif;
	color: #ef5529;
	font-size: 12pt;
	font-weight:bold;
	margin-bottom: 12pt;
}

