﻿body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
h1, .h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 18px;
}
h2, .h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 14px;
}
h3, .h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 9pt;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

.FormLabel {
	font-family: Verdana;
	font-weight: bold;
	font-size: 8pt;
}
.FormInput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.ItinPanel {
	background-color:#ffffff;
	width:100%;
	table-layout:fixed;
}
.ItinFooter {
	background-color:#bbbbbb;
	width:100%;
	table-layout:fixed;
}
.ItinBookPanel {
	background-color:#ffffff;
	width:100%;
	margin-bottom:4px;
}

.ItinBookHeaderTable {
	background-color:#cccccc;
	width:100%;
}

.ItinBookFooterTable {
	background-color:#eeeeee;
	width:100%;
	table-layout:fixed;
}
.ItinGuestPanel {
	width:100%;
	table-layout:fixed;
}

.ItinPanelLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
}
.ItinPanelValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.ItinPanelGuestTypeValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:italic;
}

.body, body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
a:link {
	color: #0066CC;
	text-decoration: none;
}
h1, .h1 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006699;
	font-size: 18px;
}
h2, .h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006699;
	font-size: 14px;
}
h3, .h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.bodyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
.bodyText-sm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 13px;
}
.wht {
	color: #FFFFFF;
}
.treeeditor {
	font-family: Tahoma, Verdana, Arial, Geneva, san-serif;
	font-size: 9pt;
	border: 0px;
	margin: 0px;
}
.maingrid {
	width: 100%;
	font-family: Verdana, Arial, Geneva, san-serif;
	font-size: 8pt;
	border: none;
	background-color: #FFFFFF;
}
.maingridheader {
	font-family: Verdana, Arial, Geneva, san-serif;
	font-size: 8pt;
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #CCCCCC;
}
.maingriditem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
}
.maingridaltitem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #EEEEEE;
}
.maingridhiliteditem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #AAAAAA;
}
.maingridselecteditem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #000000;
	color: #FFFFFF;
}
.subgrid {
	width: 100%;
	font-family: Verdana, Arial, Geneva, san-serif;
	font-size: 8pt;
	border: none;
	background-color: #FFFFFF;
}
.subgridheader {
	font-family: Verdana, Arial, Geneva, san-serif;
	font-size: 8pt;
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #CCCCCC;
}
.subgriditem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
}
.subgridaltitem {
	font-family: Verdana, Tahoma, Arial, Geneva, san-serif;
	font-size: 8pt;
	background-color: #EEEEEE;
}
.subgridfooter {
	font-family: Verdana, Arial, Geneva, san-serif;
	font-size: 8pt;
	font-weight: normal;
	background-color: #cccccc;
}
.unsorted {
	background-image: none;
}
.sortedasc {
	background-image: url(../../images/sort-asc.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.sorteddesc {
	background-image: url(../../images/sort-desc.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.xbox label {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
}
.xboxnb label {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
}

label {
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
}

.xboxTable TD {
	width: 200;
}

.SelectedTabCell {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	color: #006699;
	background-color: #cccccc;
	color: Black;
	border: 1px solid black;
	border-bottom: none;
	width:120px;
	height: 26px;
}
.TabCell {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
	background-color: #eeeeee;
	border: none;
	width:120px;
	height: 26px;
	cursor: default;
}
.TabOverCell {
	font-family: Tahoma;
	font-size: 9pt;
	font-weight: normal;
	text-align: center;
	background-color: #dddddd;
	color: Black;
	border: 1px solid #cccccc;
	border-bottom: none;
	width:120px;
	height: 26px;
	cursor: hand;
}

.AdminMenu {
	margin: 3px;
}
.AdminMenuItem {
	background-color: white;
	border: 1px solid black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	width: 140;
	margin: 3px;
}
.AdminMenuItemHover {
	background-color: #eeeeee;
	border: 1px solid black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	margin: 3px;
}

.AdminSubMenu {
	background-color: white;
	border: 1px solid black;
}
.AdminSubMenuItem {
	background-color: white;
	border: 1px solid black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding: 2px 4px 0px 4px;
	height: 22px;
}
.AdminSubMenuItemHover {
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding: 2px 4px 0px 4px;
	height: 22px;
}

