<%@ Page Language="C#" %>

<script runat="server">

	private void Page_Load( object sender, System.EventArgs e ) {
		string html = ABS.VoucherServiceFactory.BuildVouchers( true );
		this.Response.Clear();
		this.Response.Write( html );
	}

</script>

