﻿body, .body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
h1, .h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 18px;
}
h2, .h2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #996600;
	font-size: 14px;
}
h3, .h3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
p, .p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

.listItem{
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}
.partnerName{
	font-size: 80%;
	margin: 0;
	padding: 0;
}
.partnerOfferTitle{
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
}
.partnerOfferTitle{
	background-color: transparent;
	color: #E14202;
}
.partnerOfferTitlePurple{
	background-color: transparent;
	color: #8F00A8;
}
.partnerSubHeading{
	font-size: 80%;
	font-weight: bold;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}
