<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent">

<img src="/images/maunakea.jpg" align=left style="margin-right:20px"/>
		<div style="width: 700px;"><p class="PublisherGroupTitle">Contact Us</p>
<p class="PublisherDescription">For questions concerning your Recreation & Sightseeing Activities, contact:
<Br />
<Br />
Diamond Head Vacations<Br />
615 Piikoi Street, 10th Floor<Br />
Honolulu, Hawaii  96814<Br />
<Br />
Phone: 877-589-5568<Br />
<Br />
Fax: 808-589-5583<Br />
<Br />Email:
<a href="mailto:hwv@mcahawaii.com"><font color="#0177CC">hwv@mcahawaii.com</a>
<Br />
<Br />
			
		</p>
<p class="PublisherGroupTitle"> <br />

		</div>

</asp:content>
