<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent" >
	
	<abs:checkout runat="server" id="test" 
	 cssclass="CheckoutPanel"
	 cellspacing="2"
	 headercellcssclass="CheckoutHeader"
	 footercellcssclass="CheckoutFooter"
	 labelcssclass="FormLabel" 
	 valuecssclass="FormValue"
	 buttoncssclass="StepButton"
	/>
	
</asp:content>

