<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

	private void Page_Load( object sender, System.EventArgs e ) {
		this.Response.Redirect( "~/hawaiianislesconcierge/" );
	}

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Please Wait...</title>
</head>
<body>
    <div></div>
</body>
</html>
