<%@ page language="C#" %>


<asp:content id="Content1" runat="server" contentplaceholderid="MainContent" >
<img src="/images/oahurs.jpg" align=left style="margin-right:20px"/>
		<div style="width: 700px;"><p class="PublisherGroupTitle">Aloha!</p>
<p class="PublisherDescription">MC&A thanks you for visiting this activity website, created exclusively for the Association of Legal Administrators. <br /><br />Online tour registration is now closed. If it is April 13 - 22 and you would like to book a tour, please either email ala2012@mcahawaii.com or call 877.589.5589. Indicate you are with ALA and which tour(s) you'd like to book. Seats are based upon availability and your confirmation/voucher is your ticket.<br /><br />
April 23 - 25 please go to the Tour Desk at the Hawaii Convention Center to book tours. The hours are Monday, April 23 11:00 a.m. - 4:00 p.m.; Tuesday, April 24 9:45 a.m. - 3:45 p.m.; and Wednesday, April 25 11:30 a.m. - 4:00 p.m.
<br />

			<br /><br />
		</p>
<p class="PublisherGroupTitle">Mahalo!<br />The Staff at MC&A, Inc.<br />

		</div>
	

</asp:content>
