<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReserveItBtn.ascx.cs" Inherits="ReserveItBtn" %>

<asp:hyperlink runat="server" id="LinkButton" navigateurl="" imageurl="../images/btn_reserve.gif" 
	tooltip="Reserve this activity." height="23" width="74" 
/>
