<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent" >

	<abs:bookingpanel runat="server" id="BookingPanel" 
		cssclass="BookingPanel"
		headercellcssclass="BookingHeaderCell"
		bookingcssclass="BookingStepTitle"
		headercssclass="BookingTitle"
		headerdatetimecssclass="BookingTitle"
	/>
  
</asp:content>
