<%@ page language="C#" %>

<asp:content id="Content1" runat="server" contentplaceholderid="MainContent">
<div style="float: left; margin: 0 20px 50px 0;">
		<img src="http://activitysaleshawaii.com/images/plumerias.jpg">
		</div>
		<div style="width: 500px; float: left;"><p class="PublisherGroupTitle">Contact Us</p>
<p class="PublisherDescription">For questions concerning your Recreation & Sightseeing Activities, contact:
<Br />
<Br />
Island Partners Hawaii<Br />
<Br />
Phone: 808-589-5425<Br />
<Br />
Fax: 808-589-5583<Br />
<Br />Email:
<a href="mailto:nawfa@islandpartnershawaii.com">nawfa@islandpartnershawaii.com</a>
<Br />
<Br />
			
		</p>
<p class="PublisherGroupTitle"> <br />

		</div>

</asp:content>
